/* Reset / Normalize */

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/*Global / Base Styles  */

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;

  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-right: 76px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

/* Layout Structure */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  padding: 0 15px;
}

/* Components / Blocks */

/* Header */
.page-header-nav {
  display: flex;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-menu {
  font-weight: 500;
  margin: 0;
  gap: 40px;
  display: flex;
  letter-spacing: 0.02em;
}
.page-nav {
  display: flex;
  align-items: center;
  margin-right: 30%;
}
.page-nav-first {
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.nav-address {
}

.contacts {
  display: flex;
  gap: 40px;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  min-width: 100px;
}
.contacts a {
  color: #434455;
}
.page-nav-first:hover {
  color: #404bbf;
}
.page-nav-first:active {
  text-decoration: underline;
  border-radius: 2px;
  width: 48px;
  height: 4px;
}

.page-span {
  color: #4d5ae5;
}
.contacts a:hover,
.contacts a:focus {
  color: #404bbf;
}
.nav-address {
  font-style: normal;
}

/* Main section */

.main-page-container {
  background: #2e2f42;
  padding: 188px 0;
}

.main-page-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

/*  Our Properties Section */

.visually-hidden {
  position: absolute;
  width: 1px;

  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-properties-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: start;
}
.our-properties-descr {
  text-align: start;
}
.our-properties-container {
  display: flex;
  gap: 24px;
}
.our-properties-box {
  width: calc((100% - 72px) / 4);
}

/*Our Team Section  */

.image-descr {
  text-align: center;
}
.image-title {
  text-align: center;
  margin-bottom: 8px;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-images {
  display: flex;
  padding: 0;
  margin: 0 auto;
  gap: 24px;
}

.our-team-section {
  width: 1440px;
  background: #f4f4fd;
  padding: 120px 0;
}

.our-team-image-box {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;

  width: calc((100% - 72px) / 4);
}
.our-team-caption-box {
  padding: 32px 0;
}

/* Portfolio Section  */

.portfolio-image-title {
  text-align: start;
  margin-bottom: 8px;
}
.portfolio-image-descr {
  text-align: start;
}
.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
}

.portfolio-image img {
  width: 360px;
  height: 300px;
  margin-bottom: 0;
}
.portfolio-image-box {
  width: calc((100% - 48px) / 3);
}

.portfolio-caption-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;

  margin: 0;
}

/* Footer */

.page-footer {
  background: #2e2f42;

  padding: 100px 0;
  max-width: 1440px;
}

.footer-paragraph {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1, 5;
  color: #f4f4fd;
  max-width: 264px;
  text-align: start;
}
.page-footer-span {
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-right: 76px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
